@media only screen and (max-width: 1000px) {
    body{
        width: 100%;
    }
    
    /* HEADER */

    /* BANNER */
    .banner{
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .contentBanner{
        margin-top: 80px;
        margin-left: 10px;
    }
    .titlePage{
        font-size: 40px;
        width: 100%;
    }
    .textPage {
        font-size: 16px;
        text-align: justify;
    }

    /* PARALLAX */
    .imgPessoaMala{
        width: 450px;
        right: 10px;
    }
    .imgPlanta, .imgTabela{
        display: none;
    }

    /* FLUXO DO PROJETO */
    .titleEsteira{
        display: none;
    }
    .textoFluxo{
        width: auto;
        margin-left: 10px;
        align-self: center;
    }
    .titleFluxo{
        display: block;
        font-size: 35px;
        text-align: center;
        margin-bottom: 20px;
    }
    .contentFluxo{
        align-items: center;
        justify-content: center;
    }

    .divImgFluxo img{
        width: 350px;
        height: 350px;
        margin-left: -20px;
    }
    .divComTextoFluxo{
        width: 80%;
    }


    /* FOOTER */
    .footer{
        height: auto;
    }

    /* NAVBAR */
    .header{
        display: none;
    }
    .navBarResp{
        width: 100vw;
        padding-top: 4px;

        display: flex;
        justify-content: space-around;
        flex-direction: row;

        position: fixed;
        bottom: 0;
        z-index: 20;

        background-color: rgba(255, 255, 255, 0.363);
        backdrop-filter: blur(10px);
    }
    .navBarResp img{
        width: 20px;
    }
    .navBarResp h3{
        text-decoration: none;
        color: #505050;
    }

    .navBarResp a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a{
        text-decoration: none;
    }
    .navBarResp .home, .project, .log{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navBarResp .home{
        padding: 2%;
        border-bottom: 2px solid black;
    }
    .navBarResp h3{
        margin-top: 15%;
        font-size: 20px;
    }

    .imgLog{
        display: flex;
        margin-left: 130%;
        margin-top: 281%;
        position: absolute;
    }

    
    
}