# IGNORANDO A PASTA node_modules
node_modules

site/node_modules

AirplaneSolutionsRest/node_modules

#IGNORANDO O ARQUIVO package-lock.json
package-lock.json

site/package-lock.json

AirplaneSolutionsRest/package-lock.json


