.divDadosFuncionario{
    display: flex;
    width: 420px;
    height: 110px;
    border: 3px solid #000A18;
    border-radius: 10px;
    padding: 10px 10px 0 20px;
    margin-bottom: 4%;
}
.divDadosFuncionario img{
    width: 25%;
    padding: 10px;
}
.divInfo{
margin-left: 10px;
display: flex;
flex-direction: column;
justify-content: center;
width: 30%;
}

.divInfo h3 {
    font-size: 24px;
    font-weight: 500;
}

.divInfo p {
    color: gray;
}
.divAtualizarDados{
    margin-left: 5%;
}
.divContaAdm{
display: flex;

}
.divNotificacoes{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.divToggle{
    display: flex;
    margin-bottom: 6%;
}
  /* toggle */

.divInfoNotifica{
    margin-left: 5%;
}
  .divInfoNotifica h3{
   
    font-size: 15px;
    font-weight: 500;
  }
  .divInfoNotifica p {
    font-size: 13px;
    color: gray;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
    border: 1px solid #000000;
    border-radius: 10px;

  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;

  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(201, 200, 200);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3d3c3c;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 10px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  /* toggle*/