@media only screen and (max-width: 1000px){
    body{
        height: 100vh;
        background-image: url("../../../assets/PNG/bgFundo.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .header{
        display: none;
    }

    .bannerLog{
        background-image: none;
        padding-top: 50px !important;
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .containerBannerLog{
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 450px;
    }

    .iconLog{
        display: flex;
        margin-top: 5%;
    }

    .containerRightLog{
        height: 60vh;
        border: none;
        border-radius: 5%;

        
        background-image: url("../../../assets/SVG/Group5.svg");
        background-position: center;
        background-color: #ffffff00;
        background-size: cover;
        /* box-shadow: 0px 20px 10px 0px #464545;   */
        margin-top: 40%;
        margin-left: 8%;

    }
    .containerRightLog h1{
        font-size: 28px;
        padding: 0;
    }
    .containerRightLog button{
        margin-top: -10%;
    }

    .containerLeftLog{
        display: none;
    }

    .footer{
        display: none;
    }
    .navBarResp{
        width: 109vw;
        height: 25vw;
        padding-top: 4px;

        display: flex;
        justify-content: space-around;
        flex-direction: row;

        position: fixed;
        bottom: 0;
        z-index: 20;

        background-color: rgba(255, 255, 255, 0.363);
        backdrop-filter: blur(10px);
    }
    .navBarResp img{
        width: 20px;
    }
    .navBarResp h3{
        text-decoration: none;
        color: #505050;
    }

    .navBarResp a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a{
        text-decoration: none;
    }
    .navBarResp .home, .project, .log{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navBarResp .log{
        padding: 2%;
        border-bottom: 2px solid black;
    }
    .navBarResp h3{
        margin-top: 15%;
        font-size: 20px;
    }

    .imgLog{
        display: flex;
        margin-left: 130%;
        margin-top: 281%;
        position: absolute;
    }


}