@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --backgroundColorBlueMidnight: #111b4f;
    --colorScrollBar: #0783ad;
    --backgroundColor: #000A17;
    --colorWhite: #fff;
    --colorAnimatedBtn: #0873AD;
    --colorBackgroundIcons: #024A96;
    --colorBlur: rgb(6, 82, 182);;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--backgroundColorBlueMidnight);
}

::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color: var(--colorScrollBar);
}

body {
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
}

.efeito-blur {
    width: 100%;
    max-width: 1920px;
    position: absolute;
    z-index: -1000;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;

}

.lado {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50rem;
}

.blur {
    position: relative;
    opacity: .5;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    filter: blur(200px);
    background-color: var(--colorBlur);
}

.lado.direito {
    padding-top: 40rem;
}

.lado.esquerdo .blur:nth-child(1),
.lado.esquerdo .blur:nth-child(2),
.lado.esquerdo .blur:nth-child(3) {
    right: 10rem;
    bottom: 10rem;
}

.lado.direito .blur:nth-child(1),
.lado.direito .blur:nth-child(2),
.lado.direito .blur:nth-child(3) {
    position: relative;
    bottom: 10rem;
    left: 10rem;
}

header {
    margin-top: 2rem;
    background-color: transparent;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.imgLogo img{
    width: 5rem;
    height: 5rem;
    margin-left: 4rem;
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin-right: 4rem;
}

nav a {
    display: none;
}

a.animatedBorder {
    text-decoration: none;
    background-color: transparent;
    color: var(--colorWhite);
    padding: 1rem;
    display: inline-block;
    font-family: arial, sans-serif;
    position: relative;
}
a.animatedBorder:after {
    content: '';
    position: absolute;
    border-bottom: solid 5px var(--colorAnimatedBtn);
    bottom: 0;
    left: 0;
    right: 100%;
    transition: all 500ms;
}
a.animatedBorder:hover:after {
    right: 0;
}

.containerFooter {
    width: 100%;
    overflow-x: hidden;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-top: solid 4px var(--backgroundColorBlueMidnight);
}

.containerFooter h1 {
    display: flex;
    font-size: 48px;
    color: var(--colorWhite);
    justify-content: center;
    text-align: center;
}

.containerFooter p {
    display: block;
    font-size: 24px;
    color: var(--colorWhite);
    justify-content: center;
    text-align: center;
}

.containerImgFooter {
    margin-left: 100px;
    height: 25rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.2rem;
}

.footerIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerIcon h4 {
    text-align: center;
    color: var(--colorWhite);
    font-size: 24px;
    margin-right: 1.2rem;
}

.footerIcon a{
    flex-direction: row;
    padding-top: 2%;
    text-align: center;
    height: 60px;
    width: 60px;
    color: var(--colorWhite);
    background-color: var(--colorBackgroundIcons);
    margin: 0rem 1.2rem 0rem 1.2rem;
    line-height: 2.4rem;
    border-radius: 50%;
}

.footerIcon a:hover{
    transition: all 0.5s ease;
    background-color: var(--colorWhite);
    color: var(--colorBackgroundIcons);
}

@media only screen and (max-width: 600px){

    nav ul {
        display: none;
    }

    nav a {
        display: block;
        text-align: center;
        height: 50px;
        width: 50px;
        color: var(--colorWhite);
        border-radius: 50%;
    }

    body {
        overflow-x: hidden;
        width: 100%;
        flex-direction: column;
    }

    .containerFooter {
        flex-direction: column;
        
    }
    .containerImgFooter p {
        display: none;
    }
    .containerImgFooter {
        margin-left: 0px;
        margin-top: 2rem;
    }
    .Icons {
        margin-right: 0rem;
    }
    .footerIcon {
        margin-top: 0%;
    }
    .footerIcon h4 {
        text-align: center;
        margin-right: 0rem;
    }
}

@media only screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav a {
        display: block;
        text-align: center;
        height: 50px;
        width: 50px;
        color: white;
        background-color: transparent;
        margin: 0rem 1.2rem 1.2rem 0rem;
        line-height: 2.4rem;
        border-radius: 50%;
    }

    body {
        width: 100%;
        flex-direction: column;
    }

    .containerFooter {
        flex-direction: column;
        
    }
    .containerImgFooter p {
        display: none;
    }
    .containerImgFooter {
        margin-left: 0px;
        margin-top: 2rem;
    }
    .Icons {
        margin-right: 0rem;
    }
    .footerIcon {
        margin-top: 0%;
    }
    .footerIcon h4 {
        text-align: center;
        margin-right: 0rem;
    }

}

@media only screen and (max-width: 992px) {
    body {
        width: 100%;
        flex-direction: column;
    }

    .containerFooter {
        flex-direction: column;
        
    }
    
    .containerImgFooter p {
        display: none;
    }
    .containerImgFooter {
        margin-left: 0px;
        margin-top: 2rem;
    }
    .Icons {
        margin-right: 0rem;
    }
    .footerIcon {
        margin-top: 0%;
    }
    .footerIcon h4 {
        text-align: center;
        margin-right: 0rem;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        width: 100%;
        flex-direction: column;
    }

    .containerFooter {
        flex-direction: column;
        
    }
    .containerImgFooter p {
        display: none;
    }
    .containerImgFooter {
        margin-left: 0px;
        margin-top: 2rem;
    }
    .Icons {
        margin-right: 0rem;
    }
    .footerIcon a{
        padding-top: 3%;
    }
    .footerIcon h4 {
        text-align: center;
        margin-right: 0rem;
    }
}

@media only screen and (max-width: 1750px) {
    body {
        width: 100%;
        flex-direction: column;
    }

    .containerFooter {
        flex-direction: column;
        
    }
    .containerImgFooter p {
        display: none;
    }
    .containerImgFooter {
        margin-left: 0px;
        margin-top: 2rem;
    }
    .Icons {
        margin-right: 0rem;
    }
    .footerIcon a{
        padding-top: 3%;
    }
    .footerIcon h4 {
        text-align: center;
        margin-right: 0rem;
    }

}