@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

*{
    font-family: 'ABeeZee', sans-serif;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #111b4f;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #0783ad;
}

body {
    background-color: black;
    box-shadow: inset -10px 10px 100px 30px rgba(0, 32, 74, 0.7);
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 32px;
    background-color: transparent;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.imgLogo img{
    width: 70px;
    height: 70px;
    margin-left: 32px;
}

nav ul {
    gap: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin-right: 32px;
}

li a{
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.loginBar a {
    border-left: 2px solid white;
}

.containerFooter {
    width: 100%;
    overflow-x: hidden;
    background-color: transparent;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: solid 4px #111b4f;
}

.containerFooter h1 {
    display: flex;
    font-size: 48px;
    color: white;
}

.containerFooter p {
    display: flex;
    font-size: 24px;
    color: white;
}

.containerImgFooter {
    height: 80px;
    width: 80px;
    display: flex;
}

.footerIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 140px;
}