@media only screen and (max-width: 1000px) {
    body{
        width: 100%;
    }
    
    /* HEADER */
    .header ul, .header li{
        display: none;
    }

    /* BANNER */
    .banner{
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .contentBanner{
        margin-top: 80px;
        margin-left: 10px;
    }
    .titlePage{
        font-size: 40px;
        width: 100%;
    }
    .textPage {
        font-size: 16px;
        text-align: justify;
    }

    /* PARALLAX */
    .imgPessoaMala{
        right: inherit;
        width: 450px;
        right: 10px;
    }
    .imgPlanta, .imgTabela{
        display: none;
    }

    /* FLUXO DO PROJETO */
    .titleEsteira{
        display: none;
    }
    .textoFluxo{
        width: auto;
        margin-left: 10px;
        align-self: center;
    }
    .titleFluxo{
        display: block;
        font-size: 35px;
        text-align: center;
        margin-bottom: 20px;
    }
    .contentFluxo{
        align-items: center;
        justify-content: center;
    }

    .divImgFluxo img{
        width: 350px;
        height: 350px;
        margin-left: -20px;
    }
    .divComTextoFluxo{
        width: 80%;
    }


    /* FOOTER */
    .footer{
        height: auto;
    }

    
    /* navBar responsivel aqui! */

    .navBarResp{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin-left: 25%;
    }
    .navBarResp h3{
        color: #505050;
    }
    .navBarResp .home img{
        width: 8vh;
    }
    .navBarResp .home h3{
        margin-left: 10%;
    }
    .navBarResp .project img{
        margin-left: 10%;
        width: 6vh;
    }
    .navBarResp .log img{
        width: 7vh;
    }
    .navBarResp .log h3{
        margin-left: 10%;
    }

    a{
        text-decoration: none;
    }
    .navBarResp .home, .project, .log{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navBarResp .log{
        padding: 2%;
        border-bottom: 2px solid black;
    }
    .navBarResp h3{
        margin-top: 15%;
        font-size: 20px;
    }
}