.divInfosMiddle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.cardTotalFuncionarios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid black;
    padding: 2%;
    border-radius: 10px;
}

.cardTotalFuncionarios p{
    color: gray;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.btnSignUpFunc {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #000A18;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    align-self: flex-end;
}