.containerHome {
    margin-top: 5%;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.containerTextHome {
    margin-right: 5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerTextHome h1 {
    font-size: 80px;
    text-align: center;
}

.containerTextHome p {
    font-size: 32px;
    text-align: justify;
}

.containerHome img {
    margin-left: 10%;
    width: 473px;
    height: 581px;
}

.containerPerformanceFlow1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
}

.containerTextPerformanceFlow1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.containerTextPerformanceFlow1 h1{
    font-size: 40px;
    text-align: center;
}

.containerPerformanceFlow1 p {
    font-size: 32px;
    text-align: justify;
}

.containerPerformanceFlow2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
}

.containerTextPerformanceFlow2 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.containerTextPerformanceFlow2 h1{
    font-size: 40px;
    text-align: center;
}

.containerPerformanceFlow2 p {
    font-size: 32px;
    text-align: justify;
}

.containerPerformanceFlow3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 10%;
}

.containerTextPerformanceFlow3 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.containerTextPerformanceFlow3 h1{
    font-size: 40px;
    text-align: center;
}

.containerPerformanceFlow3 p {
    font-size: 32px;
    text-align: justify;
}

@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-30px)
	}
}
.effectFlutuant {
     animation: float 2s ease-in-out infinite;
}