.containerHome {
    margin-top: 32px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.containerTextHome {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerTextHome h1 {
    font-size: 80px;
    text-align: center;
    margin: 0 32px;
}

.containerTextHome p {
    font-size: 32px;
    text-align: justify;
    margin: 0 32px;
}

.containerHome img {
    margin-left: 124px;
    width: 473px;
    height: 581px;
}

.containerPerformanceFlow1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 140px;
}

.containerTextPerformanceFlow1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.containerTextPerformanceFlow1 h1{
    font-size: 40px;
    text-align: center;
}

.containerPerformanceFlow1 p {
    font-size: 32px;
    text-align: justify;
}

.containerPerformanceFlow2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 140px;
}

.containerTextPerformanceFlow2 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.containerTextPerformanceFlow2 h1{
    font-size: 40px;
    text-align: center;
}

.containerPerformanceFlow2 p {
    font-size: 32px;
    text-align: justify;
}

.containerPerformanceFlow3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 140px;
}

.containerTextPerformanceFlow3 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.containerTextPerformanceFlow3 h1{
    font-size: 40px;
    text-align: center;
}

.containerPerformanceFlow3 p {
    font-size: 32px;
    text-align: justify;
}